<section class="card">
  COMMENT DETAILS
  {{!-- <a href="/comment/{{id}}"> --}}
  {{id}}
  <header>
    <span class="comment-user">{{user.username}}</span>
    <span class="comment-date">{{format_date date_created}}</span>
  </header>
  {{ message }}
{{!-- </a> --}}
</section>